<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-4 ms-2" href="/">Car-App</a>
    </div>
</nav>