<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Car-App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Acasă</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if (isLoggedIn) { %>
                    <li class="nav-item"><a class="nav-link" href="/add-car">Adaugă Mașină</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile">Profil</a></li>
                    <li class="nav-item">
                        <form action="/logout" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                <% } else if (isGuest) { %>
                    <li class="nav-item">
                        <form action="/logout" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-link nav-link">Ieșire Vizitator</button>
                        </form>
                    </li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Înregistrare</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
